  body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: rgb(86, 79, 108);
  }

  .container {
    margin-top: auto;
  }

  button {
    width: 70px;
    height: 70px;
    background-color: black;
    color: orange;
   }
   
   .display {
     border-left: 1px solid black;
     border-right: 1px solid black;
     border-bottom: 1px solid black;
     background-color: #d3d3d3;
     width: 280px;
     height: 30px;
     margin: 0 auto;
     text-align: right;
     font-size: 24px;
   }

   .displaysecondary {
     border-top: 1px solid black;
     border-left: 1px solid black;
     border-right: 1px solid black;
     background-color: #d3d3d3;
     width: 280px;
     height: 30px;
     margin: 0 auto;
     text-align: right;
     font-size: 16px;
   }
   
   .twotime {
     width: 140px;
   }
   
   .buttons {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
   }
   
   .operator, #equals {
     color: black;
     background-color: orange;
   }

   .clearordelete {
     color: red;
     background-color: black;
   }

   .toprow, .firstrow, .secondrow, .thirdrow, .fourthrow {
     display: flex;
     gap: 0px;
   }

   .header {
    background-color: black;
    color: orange;
    font-size: 14px;
    padding: 24px;
    border: none;
    text-align: center;
   }

   .footer {
    background-color: black;
    color: orange;
    font-size: 14px;
    padding: 24px;
    border: none;
    text-align: center;
    margin-top: auto;
   }

   .firstsecondcontainer {
     display: flex;
     justify-content: center;
     align-items: center;
     gap: 20px;
     margin-top: 15px;
   }

   #first, #second {
     width: 150px;
     height: 30px;
     background-color: orange;
     color: black;
   }